<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
    <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width">
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
  <%= render 'shared/nav' %>
    <div class="container">
	    <p class="notice"><%= notice %></p>
	    <p class="alert"><%= alert %></p>
      <%= yield %>
	  </div>
  <%= render 'shared/footer' %>
  </body>
<script>
	$(document).ready(function(){
		$(".button-collapse").sideNav();
		$('select').material_select();
	});
</script>
</html>
